body {
    margin: 0;
}
ul {
    margin: 0;
}
.danhmuc{
    background-color: #2fa4e7;
    padding: 20px;
}
.danhmuc-muc{
    margin: 10px;
}
.danhmuc-danhsach{
    display: flex;
    list-style: none;
}
.danhmuc-lienket {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
.danhmuc-lienket:hover {
    color: gray;
}
.logo {
    height:100px;
    background-color: gray;
}
main {
    display: flex;
}
.noidung-trai {
    width: 80%;
    border-radius: 10px;
}
.noidung-phai {
    height:1000px;
    background-color: chocolate;
    width: 20%;
}
.tieude {
    background-color: #2fa4e7;
    padding: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}
.tintuc-danhsach {
    display: flex;
    background-color: gray;
    justify-content: space-between; 
}
.baiviet {
    height : 200px;
    background-color: black;
    width: 32%;
}
.baiviet-dau {
    display : top;
    height : 10%;
    background-color: blue;
}
.baiviet-giua {
    display : flex;
    height : 20%;
    background-color: white;
}